.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        testuser
      %ul.side-header__box__user-menu
        %li.user-menu__edit-user
          i
        %li.user-menu__new-group
          i
  .side-groups
    .group
      .group__group-name
        testgroup
      .group__last-message
        testmessage