.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        testuser
      %ul.side-header__box__user-menu
        %li.user-menu__edit-user
          = fa_icon 'pencil-square-o', class: 'icon'
        %li.user-menu__new-group
          = fa_icon 'cog', class: 'icon'
  .side-groups
    .group
      .group__group-name
        testgroup
      .group__last-message
        testmessage