.form
  .new-message
    .input-box
      %input.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
      %label.image-label{:for => "message_image"}
        %i.fa.fa-image
        %input#message_image.image-label__input{:name => "message[image]", :type => "file"}/
    %input.new-message__submit-btn{:name => "commit", :type => "submit", :value => "Send"}/